$smartphone-lrg: 500px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1200px;

.header {
  background-color: var(--dark-1);
  height: var(--header-h);
  padding: var(--container-padding);
}

nav {
  flex-basis: 100%;
}

.header__nav__list {
  padding: 0;
  display: none;

  @media(min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}
.header__nav__list__item {
  display: inline-block;
}

.header__nav__list__item__link {
  color: var(--light-1);
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: var(--main-1);
  }
}
