$smartphone-lrg: 500px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1200px;

.header {
  background-color: var(--dark-1);
  height: var(--header-h);
  width: 100vw;
  padding: var(--container-padding);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 0.063rem solid var(--light-1);
}

.header__nav__hamburger {
  @media(min-width: $desktop) {
    display: none;
  }
}

nav {
  flex-basis: 100%;
}

.header__nav__list {
  padding: 0;
  display: none;

  @media(min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    width: 26.813rem;
  }
}

.header__nav__list__item {
  display: inline-block;
}

.header__nav__list__item__link {
  color: var(--light-1);
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: var(--main-1);
  }
}

.header__nav__cart {
  cursor: pointer;
  /* &:hover {
    background-image: var(--main-1);
  } */
}
