<header class="header flex flex-aic">
  <nav class="header__nav flex flex-jcsb flex-aic">
    <div class="header__nav__hamburger" (click)="menuToggler()">
      <img class="header__nav__hamburger__icon" src="../../../assets/shared/tablet/icon-hamburger.svg" alt="hamburger menu icon">
    </div>
    <div class="header__nav__logo">
      <img class="header__nav__logo__img" src="../../../assets/shared/desktop/logo.svg" alt="audiophile logo">
    </div>
    <ul class="header__nav__list">
      <li class="header__nav__list__item"><a class="header__nav__list__item__link" href="#">Home</a></li>
      <li class="header__nav__list__item"><a class="header__nav__list__item__link" href="#">Headphones</a></li>
      <li class="header__nav__list__item"><a class="header__nav__list__item__link" href="#">Speakers</a></li>
      <li class="header__nav__list__item"><a class="header__nav__list__item__link" href="#">Earphones</a></li>
    </ul>
    <div class="header__nav__cart">
      <!-- <img class="header__nav__cart__img" src="../../../assets/shared/desktop/icon-cart.svg" alt="cart icon"> -->
      <img class="header__nav__cart__img" [src]="imageSrc" (mouseover)="cartMouseOver()" (mouseout)="cartMouseOut()" alt="cart icon">
    </div>
  </nav>
</header>
