<header class="header flex flex-aic">
  <nav class="header__nav flex flex-jcsb flex-aic">
    <div class="header__nav__hamburger">
      <img class="header__nav__hamburger__icon" src="../../../assets/shared/tablet/icon-hamburger.svg" alt="hamburger menu icon">
    </div>
    <div class="header__nav__logo">
      <img class="header__nav__logo__img" src="../../../assets/shared/desktop/logo.svg" alt="audiophile logo">
    </div>
    <app-navbar-links></app-navbar-links>
    <div class="header__nav__cart">
      <img class="header__nav__cart__img" src="../../../assets/shared/desktop/icon-cart.svg" alt="cart icon">
    </div>
  </nav>
</header>
