button {
  font-family: 'Manrope', sans-serif;
  font-size: 0.813rem;
  line-height: 1.11rem;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  border: none;
  width: 10rem;
  height: 3rem;
  @include flex(center, row, center);

  &:hover {
    cursor: pointer;
  }
}

.btn {
  &-1 {
    background-color: $main-1;
    color: $light-1;
    &:hover {
      background-color: $main-2;
    }
  }

  &-2 {
    background-color: $dark-1;
    color: $light-1;
    &:hover {
      background-color: #4C4C4C;
    }
  }

  &-3 {
    background-color: transparent;
    color: $dark-1;
    border: 0.063rem solid $dark-1;
    &:hover {
      background-color: $dark-1;
      color: $light-1;
    }
  }

  &-4 {
    background-color: transparent;
    color: $dark-1;
    opacity: 0.5;
    font-weight: 700;
    span {
      background-image: url('../assets/shared/desktop/icon-arrow-right.svg');
      width: 0.5rem;
      height: 0.75rem;
      background-repeat: no-repeat;
      color: transparent;
      margin-left: 12px;
    }
    &:hover {
      color: $main-1;
      opacity: 1;
    }
  }
}
