:root {
  $header-h: 6rem;
  $go-back-h: 2.5rem;
}

/* FLEX RULES */
/* .flex {
  display: flex;
} */

@mixin flex($jc, $fd, $ai) {
  display: flex;
  justify-content: $jc;
  flex-direction: $fd;
  align-items: $ai;
}
